﻿@model IEnumerable<WebAPI.Models.Product_by_Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("CheckRadio", "Product_by_Category", FormMethod.Post))
{
    <div>
        Data sotorage type :
        DataBase @Html.RadioButton("selected", "database") 
        Memory @Html.RadioButton("selected", "cache") 
        <input type="submit" value="submit" />
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { item.Product.id }) 
            </td>
        </tr>
}
    </tbody>
</table>
